/* Font */

/* Colors */

:root{
    --primary : #1a253f;
    --dark: #151a33;
    --secondary: #2b55cc;
    --info: #4d79f6;
    --ternary : #848db3;
    --pure: #eff2f9;
    --fade: #7081b9;
    --mild: #8997bd;
    --footer: #212A4A;
    --black: #060b1b;
    --twitter: #4ac7ec;
    --success: #1ecab8;
    --danger: #f1646c;
    --darkblue: #28365f;
    --darkgray: #171f33;
    --yellow: #f3c74d;
}

/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--black);
    -webkit-font-smoothing: antialiased;
    padding-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    line-height: 1;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

nav{
    background: var(--primary);
    padding: 1.6rem 0;
}

nav .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .inner .logo{
    text-transform: uppercase;
    color: var(--pure);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}

nav .inner .logo i{
    color: var(--info);
}

nav .inner button{
    background: var(--secondary);
    border: none;
    padding: 0.6rem 1rem;
    color: var(--pure);
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

section.profile{
    background: var(--black);
    display: flex;
    align-items: center;
    padding: 3rem;
    margin-top: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
    padding-bottom: 4rem;
}

section.profile .left{
    flex: 2;
    display: flex;
    align-items: center;
}

section.profile .left h2{
    margin-left: 1rem;
}

section.profile .left p b{
    padding-bottom: 1rem;
    font-weight: 400;
    margin-left: 1rem;
}

section.profile .left .cd-headline.loading-bar .cd-words-wrapper::after{
    background: linear-gradient(to right, var(--secondary), var(--danger));
    margin-left: 1rem;
}

section.profile .right{
    flex: 1;
    
}
section.profile .left h2{
    color: var(--fade);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}

section.profile .left p{
    color: var(--mild);
    font-size: 14px;
}

section.profile .left img{
    width:128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

section.profile .left .avatar_block span {
    position: absolute;
    right: 4px;
    bottom: 4px;
    background: var(--info);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pure);
    box-shadow: 0px 0px 20px 0px rgba(32, 41, 54, 54);
    cursor: pointer;
}

section.profile .right ul.contact{
    list-style-type: none;
    margin-bottom: 1.6rem;

}

section.profile .right ul.contact li {
    color: var(--ternary);
    margin-bottom: 0.7rem;
    font-size: 14px;
}

section.profile .right ul.contact li i {
    font-size: 18px;
    margin-right: 0.3rem;
}

section.profile .right ul.socials{
    display: flex;
    align-items: center;
    list-style-type: none;
}

section.profile .right ul.socials li{
    margin-right: 0.8rem;
}

section.profile .right ul.socials li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--pure);
    line-height: 36px;
    text-align: center;

}

section.profile .right ul.socials li:nth-child(1) a {
    background: var(--secondary);
}

section.profile .right ul.socials li:nth-child(2) a {
    background: var(--twitter);
}

section.profile .right ul.socials li:nth-child(3) a {
    background: var(--danger);
}

.section_heading{
    font-size: 16px;
    font-weight: 500;
    color: var(--pure);
    margin-bottom: 3rem;
    text-shadow: 0 0 1px rgba(40, 54, 95, 0.1);
    position: relative;
}

section{
    padding: 3rem;
}

main{
    background: var(--primary);
}

.section_heading::after{
    content: '';
    height: 3px;
    width: 80px;
    position: absolute;
    top: 28px;
    left: 0;
    border: 2px solid var(--danger);
}
section.about .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16rem;
}

section.about .content h2{
    color: var(--info);
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 1.6rem;
}

section.about .content p{
    color: var(--ternary);
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.1px;
    margin-bottom: 1rem;
}

section.about .content .left button{
    background: var(--info);
    border: none;
    padding: 1rem 2rem;
    color: var(--pure);
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

section.about .content .left button{
    color: var(--pure);
}

section.about .content .left button:hover{
    background: linear-gradient(to right, var(--secondary), var(--danger));
    color: black;
    transition: ease-in-out 2s;

}

section.about .content .left a{
    color: var(--pure);
}

section.about .content .left a:hover{
    color: var(--black);
    transition: ease-in-out 0.3s;

}



section.about .content .right p{
    line-height: 1.6;
    color: var(--ternary);
    font-size: 14px;
    letter-spacing: 0.1px;
    margin-bottom: 1rem;
}

section.about .content .right p span:nth-child(1){
    width: 130px;
    float: left;
    font-weight: 500;
    padding-right: 10px;
    display: block;
    position: relative;
}

section.about .content .right p span:nth-child(2){
    padding-left: 150px;
    display: block;
}

section.about .content .right p span:nth-child(1)::after{
    content: ':';
    position: absolute;
    right: 0;
    top: 0;
}

section.skills .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

section.skills .content .left{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

section.skills .content .left .heading{
    margin-bottom: 2rem;
}


section.skills .content .left .heading i{
    color: var(--fade);
    font-size: 52px;

}

/* class ke saath . lagega but tags like h5 or i direct aayenge */
section.skills .content .left .heading h5{
    font-size: 16px;
    margin-top: 0.5rem;
    color: var(--mild);
}

section.skills .content .left p{
    color: var(--ternary);
    line-height: 1.7;
    font-size: 14px;
}

section.skills .content .left p.center{
    color: turquoise;
}

section.skills .content .left .item{
    margin-bottom: 2.6rem;
    margin-left: 15px;
    position: relative;
}

section.skills .content .left .timeline_wrapper{
    border-left: 2px dotted var(--darkblue);
}

section.skills .content .left .item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid var(--info);
    border-radius: 50%;
    margin-left: -21px;
}

section.skills .skills_wrapper .skill-box h4 {
    color: var(--ternary);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;

}

section.skills .skills_wrapper .skill-box{
    margin-bottom: 4rem;
}

section.skills .skills_wrapper .skill-box .progress_wrap{
    background: #20294a;
    height: 6px;
    width: 100%;
    box-shadow: 0px 0px  1px 0.25px #4d79f6;
    border-radius: 10px;
    border: 2px solid var(--primary);

}
section.skills .skills_wrapper .skill-box .progress_wrap .progress_bar{
    display: block;
    height: 100%;
    background: linear-gradient(to right, var(--secondary), var(--danger));
    width: 0;
    position: relative;
    transition: all 7s ease-in-out;
}
section.skills .skills_wrapper .skill-box .progress_wrap .progress_bar .tooltip{
    position: absolute;
    right: -15px;
    top: -30px;
    color: var(--ternary);
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    visibility: hidden;
}

/* section.counter_wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: var(--darkgray) ;
}


/* direct div le liya because div ko koi class name nhi diya tha inside counter_wrapper */
/* section.counter_wrapper>div{
    display: flex;
    align-items: center;
}

section.counter_wrapper>div i{
    font-size: 42px;
    margin-right: 5px;
}*/

section.work .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 40px;
}

section.work .wrapper .portfolio .tabs ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

section.work .wrapper .portfolio .tabs ul li a{
    color: var(--fade);
    border-bottom: 1px solid transparent;
    padding: 10px 15px;
    font-size: 14px;
    letter-spacing: 2px;
}

section.work .wrapper .portfolio .tabs ul li a.active{
    border-color: var(--yellow);
    color: var(--danger);
    transition: all .3s ease-in-out;
}
section.work .wrapper .portfolio .portfolio_wrapper{
    margin-top: 4rem;
    display: flex;
}

section.work .wrapper .portfolio .portfolio_wrapper .item{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}


section.work .wrapper .portfolio .portfolio_wrapper .item a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

section.work .wrapper .slider_wrapper .icon_wrapper{
    color: var(--info);
    font-size: 26px;
    text-align: center;

}


section.work .wrapper .slider_wrapper .slider .slide p{
    color: var(--ternary);
    line-height:1.6;
    text-align:center;
    margin-bottom: 1rem;
    padding-top:2rem;
}

section.work .wrapper .slider_wrapper .slider .slide h2{
    font-size: 14px;
    color: var(--danger);
    margin-top: 1rem;
    padding: 10px 15px;
    letter-spacing: 2px;
}

section.work .wrapper .slider_wrapper .slider .slide h6{
    color: var(--ternary);
    margin-top: 1rem;
    font-size: 10px;
}

section.work .wrapper .slider_wrapper .slider .slide {
    display: flex;
    flex-direction:column;
    align-items: center;
}

section.work .wrapper .slider_wrapper{
    overflow: hidden;
}

section.partners .partner_text{
    color: var(--danger);
    text-align: center;
    padding: 10px 5px;
    font-size: 14px;
    letter-spacing: 2px;
    background-color: #060b1b;
    border-radius: 5px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

}

section.partners .brands_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
    background-color: #eff2f9;
    border-radius: 5px;
    box-shadow: #1ecab8;
    padding: 10px 15px;
}

section.partners .brands_wrapper a:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
    background-color: gainsboro;
    border-radius: 15px;
}


/* left column ka size is half of right column, so grid spacing accordingly */
section.contact .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 60px;
    margin-top: 40px;
    align-items: center;
}

section.contact .wrapper .left > div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

/* spacing between icons and text of contact*/

section.contact .wrapper .left > div div:nth-child(1) {
    margin-right: 10px;
}

/* icon styling */

section.contact .wrapper .left i{
    font-size: 30px;
    color: var(--info);
}

section.contact .wrapper .left h4{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

section.contact .wrapper .left {
    color: var(--ternary);
}

/* element ke next element ko slect karne ke liye using +, h4 ke next saare span will be selected  */

section.contact .wrapper .left h4 + span{
    font-weight: 100;
    font-size: 14px;
}

/* form styling */

section.contact .wrapper .right .form_group {
    /* grid used becuase we needed 2 columns */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    margin-bottom: 14px;

}

section.contact .wrapper .right .form_group > div{
    /* for label positioning */
    display: flex;
    flex-direction: column;

}

section.contact .wrapper .right .form_group > div label{
    color: var(--ternary);
    margin-bottom: 8px;
}

/* input styling */
section.contact .wrapper .right .form_group > div input{
    padding: 10px;
    border-radius: 4px;
    background: transparent;
    border: 3px solid var(--darkblue);
    /* text styling */
    color: var(--ternary);
    font-size: 16px;
}

/* for color of form after clicking on it  */
section.contact .wrapper .right .form_group > div input:focus{
    border-color: var(--secondary);
    outline: none;
}

section.contact .wrapper .right .form_group.textarea_wrapper{
    display: block;
    width: 100%;
}

/* same styling properties for textarea as that for input fields  */
section.contact .wrapper .right .form_group > div input , section.contact .wrapper .right .form_group.textarea_wrapper textarea{
    padding: 10px;
    border-radius: 4px;
    background: transparent;
    border: 3px solid var(--darkblue);
    /* text styling */
    color: var(--ternary);
    font-size: 16px;
}

section.contact .wrapper .right .form_group > div input:focus , section.contact .wrapper .right .form_group.textarea_wrapper textarea:focus{
    border-color: var(--secondary);
    outline: none;
}

section.contact .wrapper .right button{
    background: var(--info);
    border: none;
    padding: 1rem 2rem;
    color: var(--pure);
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    

}

.erp{
    width: 220px;
}


section.contact .wrapper .right button:hover{
    background: linear-gradient(to right, var(--secondary), var(--danger));
    color: black;
    transition: ease-in-out 2s;
}

footer{
    background: var(--footer);
    text-align: center;
    padding: 2rem 0;
    font-size: 14px;
    color: var(--ternary);
}

/* Media Queries for responsiveness */
/* breakpoints */

@media (max-width: 1280px) {
    .container{
        max-width: 90%;
    }
}

@media (max-width: 1024px) {
    section.profile{
        flex-direction: column;
        align-items: flex-start;
        clip-path: none;
    }

    section.profile .left{
        margin-bottom: 2rem;
    }

    section.profile .right{
        align-self: flex-end;
    }

    section.work .wrapper{
        display: block;
    }

    section.work .wrapper .slider_wrapper{
        margin-bottom: 8rem;
    }

    section.partners{
        margin-top: 4rem;
    }
}

@media (max-width: 970px) {
    section.skills .content{
        display: block;
    }

    section.skills .content .left{
        margin-bottom: 6rem;
    }
    
    section.partners .brands_wrapper{
        flex-wrap: wrap;
    }

    section.partners .brands_wrapper img{
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    section.about .content{
        display: block;
    }
    section.about .content .left{
        margin-bottom: 6rem;
    }

    /* block display next line mein le aata hai and flex display ek line mien rakhta hai  */
    section.contact .wrapper{
        display: block;
    }

    section.contact .wrapper .left{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 576px) {
    section.profile{
        align-items: center;
    }

    section.profile .right{
        align-self: center;
    }
    
    section.profile .left{
        margin-bottom: 6rem;
    }

    section.work .wrapper .portfolio .portfolio_wrapper{
        margin-top: 4rem;
    }

    section.contact .wrapper .right .form_group{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 300px) {
    section.about .content{
        display: block;
    }
    section.about .content .left{
        margin-bottom: 6rem;
    }

    /* block display next line mein le aata hai and flex display ek line mien rakhta hai  */
    section.contact .wrapper{
        display: block;
    }

    section.contact .wrapper .left{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}